* {
    padding: 0;
    margin: 0;
}
html{
    font-size: 20px;
    font-family: 'IBM Plex Sans', sans-serif;
}

.container {
    width: 1000px;
    margin: 0 auto;
}

/*Header*/

header{
    background-color: rgba(226, 230, 231, 0.902);
    height: 300px;
}

header h1 {
    background-color: rgba(0, 0, 0, 0.685);
    color: rgb(234, 230, 230);
    height: 50px;
    position: relative;
    bottom: 63px;
    font-size: 1.5rem;
    padding-top: 8px;
    padding-left: 8px;
    text-transform: uppercase;
}

header h2 {
    display: inline-block;
}

header img{
    width: 210px;
    height: 300px;
}

.goal-description{
    width: 500px;
    display: inline-block;
    position: relative;
    left: 170px;
    bottom: 120px;
}

.goal-description p{
    margin-top: 10px;
    font-style: italic;
    font-size: 1.12rem;
    line-height: 1.3;
}







